@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
p {
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 16px;
  }
}

.universal-img {
  border: solid 1px #000;
}

._textShadow {
  text-shadow: 1px 1px 1px #15616d;
}

._textShadowBold {
  text-shadow: 3px 3px 4px #000;
}

.sq-styles {
  border: 2px solid #35373d;
  border-radius: 25px;
  /* margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px; */
}

.sq-styles-btn {
  border: 2px solid #35373d;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.sq-styles-teal {
  border: 2px solid teal;
  border-radius: 15px;
}

.skewedBox {
  background: teal;
  padding: 100px 0;
  transform: skew(0deg, -10deg);
}

.container {
  padding: 150px 200px;
  transform: skew(0deg, 10deg);
}

.container h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 3em;
}

.container p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  width: 80%;
}

.skewed-wrapper {
  position: relative;
  overflow: hidden;
}

.skewed-bg {
  position: absolute;
  border: 1px solid #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: teal;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .skewed-bg {
    position: relative;
  }
}

.content {
  position: relative;
  padding: 3rem;
  color: white;
}

/* SKEWED TRANSITION BACKGROUND */

/* * v */
#skewed-transition {
  height: 31vh;
}

@media only screen and (max-width: 1024px) {
  #skewed-transition {
    height: 20vh;
  }
}
@media only screen and (max-width: 820px) {
  #skewed-transition {
    height: 24vh;
  }
}

/* *^ */

.skewed-wrapper {
  position: relative;
  overflow: hidden;
}

.skewed-bg {
  position: absolute;
  bottom: 0; /* anchor to bottom */
  left: 0;
  width: 100%;
  height: 150%;
  background: teal;
  transform: skewY(9deg); /* flip direction */
  transform-origin: bottom left; /* flip origin */
  z-index: -1;
}

.content {
  position: relative;
  padding: 3rem;
  color: white;
}



/* *---HOMEPAGE SECTIONS ---v*/
.home-section {
  padding-top: 90px;
}

 /* #services-section-1 {

  {
  
 }
 #services-section-2{
    
 } */
#services-section-3 #about-section1-title{
    background-color: #15616d;
    color: lightgreen;
 }
/* *---HOMEPAGE SECTIONS ---^*/