---
import MainLayout from "../layouts/MainLayout.astro";
import MasonryGrid from "../components/fancyGalleryGrids/MasonryGrid";
import Header from "../components/Header.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import { Image } from "astro:assets";
import Coyote from "../images/coyote.png";
---

<MainLayout>
  <div
    id="left-panel"
    class="bg-munsell border border-black h-screen md:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
  >
    <Header />
    <CenterPageBanner
      BannerTitle="home"
      paragraph="I build custom applications for small businesses. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore necessitatibus quisquam labore. Voluptatem, quidem dolor quasi adipisci doloremque perferendis voluptates, totam inventore neque, vitae laboriosam maiores molestias veritatis nesciunt ut!"
    />

    <Image src={Coyote} alt="" />
  </div>

  <div
    id="right-panel"
    class="medium 2xl:h-screen h-full md:absolute relative right-0 md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden"
  >
    <MasonryGrid />
  </div>
</MainLayout>
