---
import MainLayout from "../layouts/MainLayout.astro";
import ContactMe from "../components/homeSections.astro/ContactMe.astro";
import ServicesCTA from "../components/homeSections.astro/ServicesCTA.astro";
import WorkCTA from "../components/homeSections.astro/WorkCTA.astro";
import AboutSection from "../components/homeSections.astro/AboutSection.astro";
import PricingCTA from "../components/homeSections.astro/PricingCTA.astro";
---

<MainLayout>
  <!-- HOME-ABOUT -->
  <section id="about-section" class="home-section pt-5">
    <AboutSection />
  </section>
  <!-- SERVICES -->
  <section id="services-section" class="home-section pt-[55px]">
    <ServicesCTA />
  </section>
  <!-- WORK -->
  <section id="work-section">
    <WorkCTA />
  </section>
  <!-- PRICING -->
  <section id="pricing-section" class="home-section bg-teal">
    <PricingCTA />
  </section>
  <!-- CONTACT -->
  <section id="contact-section" class="">
    <ContactMe />
  </section>
</MainLayout>
