---
import MainLayout from "../layouts/MainLayout.astro";
import MasonryGrid from "../components/fancyGalleryGrids/MasonryGrid";
import Header from "../components/Header.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import SplitSectionImgRight from "../components/shared/SplitSectionImgRight.astro";
import SplitSectionImgLeft from "../components/shared/SplitSectionImgLeft.astro";
---

<MainLayout>
  <div
    id="left-panel"
    class="bg-munsell border border-black h-screen md:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
  >
    <Header />
    <CenterPageBanner
      BannerTitle="services"
      paragraph="I build custom applications for small businesses."
    />
  </div>

  <div
    id="right-panel"
    class="medium 2xl:h-screen h-full md:absolute relative right-0 md:w-3/5 w-full md:overflow-y-scroll overflow-x-hidden"
  >
    <SplitSectionImgRight
      title="fds;fkls;akf;ldsa"
      ,
      paragraph1="fds;fkls;akf;ldsa"
      ,
      paragraph2="fds;fkls;akf;ldsa"
      ,
      paragraph3="fds;fkls;akf;ldsa"
      ,
      paragraph4="fds;fkls;akf;ldsa"
      ,
      rightImg="https://images.pexels.com/photos/29531041/pexels-photo-29531041.jpeg?_gl=1*h7k50b*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjU4MzA0NTMkbzIwJGcxJHQxNzY1ODMwNDU2JGo1NyRsMCRoMA.."
    />
    <SplitSectionImgLeft
      title="fk;ldskfl;fksa"
      ,
      paragraph1="fk;ldskfl;fksa"
      ,
      paragraph2="fk;ldskfl;fksa"
      ,
      paragraph3="fk;ldskfl;fksa"
    />
    <SplitSectionImgRight
      title="fds;fkls;akf;ldsa"
      ,
      paragraph1="fds;fkls;akf;ldsa"
      ,
      paragraph2="fds;fkls;akf;ldsa"
      ,
      paragraph3="fds;fkls;akf;ldsa"
      ,
      paragraph4="fds;fkls;akf;ldsa"
      ,
      rightImg="https://images.pexels.com/photos/29531041/pexels-photo-29531041.jpeg?_gl=1*h7k50b*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjU4MzA0NTMkbzIwJGcxJHQxNzY1ODMwNDU2JGo1NyRsMCRoMA.."
    />
  </div>
</MainLayout>
