---
import MainLayout from "../layouts/MainLayout.astro";
import ContactMe from "../components/homeSections.astro/ContactMe.astro";
import ServicesCTA from "../components/homeSections.astro/ServicesCTA.astro";
import WorkCTA from "../components/homeSections.astro/WorkCTA.astro";
import AboutSection from "../components/homeSections.astro/AboutSection.astro";
import PricingCTA from "../components/homeSections.astro/PricingCTA.astro";
---

<MainLayout>
  <!-- HOME-ABOUT -->
  <section id="about-home-section">
    <AboutSection />
  </section>
  <!-- SERVICES -->
  <section id="services-home-section">
    <ServicesCTA />
  </section>
  <!-- WORK -->
  <section id="work-home-section">
    <WorkCTA />
  </section>
  <!-- PRICING -->
  <section id="pricing-home-section">
    <PricingCTA />
  </section>
  <!-- CONTACT -->
  <section id="contact-home-section">
    <ContactMe />
  </section>
</MainLayout>
