---
const items = [
  {
    title: "About",
    link: "/about",
  },
  {
    title: "Services",
    link: "/services",
  },
  {
    title: "Works",
    link: "/work",
  },
  {
    title: "Contact",
    link: "/contact",
  },
];
---

<header
  class="text-parchment b dropshadow-2xl bg- pl-5 pt-5 2xl:pb-3 pb-[30px]"
>
  <div class="">
    <div id="header-logo" class="text-8xl">
      <a id="" href="/">
        Laughing Coyote
        <!-- <img
          src="https://dl.dropboxusercontent.com/scl/fi/xzf hk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=xf6njv83&dl=0"
          class="md:w-28 w-20 md:h-24 h-18 md:mt-4 mt-0 bg-"
        /> -->
      </a>
    </div>
    <nav class="mt-5 pl-3 py-1 text-3xl border-black border-t border-b w-1/2">
      {
        items.map((item) => (
          <a href={item.link}>
            <div>{item.title}</div>
          </a>
        ))
      }
    </nav>
  </div>
</header>
