---
import FourColumnCards from "../sections/FourColumnCards.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import SplitSectionImgLeft from "../shared/SplitSectionImgLeft.astro";
import SplitSectionImgRight from "../shared/SplitSectionImgRight.astro";
---

<div class="bg-">
  <CenterPageBanner BannerTitle="Services" paragraph="" />
  <div id="services-section-1">
    <div id="address-key-problem" class="">
      <div id="address-key-problem" class="">
        <SplitSectionImgRight
          rightImg="https://images.pexels.com/photos/34553204/pexels-photo-34553204.jpeg?_gl=1*12uvq77*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjM3NDkxNjgkbzE2JGcxJHQxNzYzNzUwODU1JGo2MCRsMCRoMA.."
          title="Web design"
          paragraph1="You’re struggling to get [desirable result] because you don't have [missing piece]"
          paragraph2="You have [example], but you aren't [achieving this result]"
          paragraph3="How does this make them feel?"
          paragraph4="Have you been in the same situation? How to overcome this? How can you help them do the same?"
        />
      </div>
    </div>
  </div>
  <div id="services-section-2">
    <SplitSectionImgLeft
      title="Software Development"
      paragraph1="INTEREST, highlight risk"
      paragraph2="DESIRE, set a plan "
      paragraph3="ACTION, positive outcome achieved"
    />
  </div>
  <div id="services-section-3">
    <div id="address-key-problem" class="">
      <div id="address-key-problem" class="">
        <SplitSectionImgRight
          rightImg="https://images.pexels.com/photos/31037464/pexels-photo-31037464.jpeg?_gl=1*fbj0r9*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjM3NDkxNjgkbzE2JGcxJHQxNzYzNzUwODU1JGo2MCRsMCRoMA.."
          title="Writing"
          paragraph1="You’re struggling to get [desirable result] because you don't have [missing piece]"
          paragraph2="You have [example], but you aren't [achieving this result]"
          paragraph3="How does this make them feel?"
          paragraph4="Have you been in the same situation? How to overcome this? How can you help them do the same?"
        />
      </div>
    </div>
  </div>
</div>
<FourColumnCards />
<div id="address-key-problem" class="">
  <SplitSectionImgRight
    rightImg="https://images.pexels.com/photos/3046629/pexels-photo-3046629.jpeg?_gl=1*1yoojhn*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjM3NDkxNjgkbzE2JGcxJHQxNzYzNzQ5MzU5JGo2MCRsMCRoMA.."
    title="test"
    paragraph1="You’re struggling to get [desirable result] because you don't have [missing piece]"
    paragraph2="You have [example], but you aren't [achieving this result]"
    paragraph3="How does this make them feel?"
    paragraph4="Have you been in the same situation? How to overcome this? How can you help them do the same?"
  />
</div>
